@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@font-face {
    font-family: "Cubano";
    src: url("../fonts/Cubano.woff2") format("woff2"),
        url("../fonts/Cubano.woff") format("woff"),
        url("..fonts/Cubano.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Cubano", Verdana, sans-serif;
    cursor: none;
}
